* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* -------------------------------- Text -------------------------------- */

body {
  font: 300 16px 'Lato', sans-serif;
  color: #212121;
  background-color: #f7f7f7;

}

/* ------------------------------- Headings ------------------------------- */

h1, h2, h3 {
  font-weight: 300;
}

/* -------------------------------- Links -------------------------------- */

a {

}
