<div class="
  content-container__tile
  flex-container
  flex-container--space-between
  flex-container--center-items">
    <div class="flex-container flex-container--center-items">
      <img
        class="content-container__profile-image"
        src="../assets/images/sample-profile-image.jpg">
           <div>
            <p class="content-container__bold-text">gp22</p>
            <p class="content-container__gray-text">gp22</p>
           </div>
        </div>
        <button class="btn btn--blue">Follow</button>
</div>
