.btn {
  font-family: 'Lato';
  background-color: transparent;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: 0;
  padding: .4rem .8rem;
  transition: all .25s;
  display: inline-block;
  font-size: .8rem;
}

.btn--wide {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

.btn--margin-right {
  margin-right: .6rem;
}

.btn:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}

.btn--blue {
  border: 0;
  color: #fff;
  background-color: #2196f3;
}

.btn--blue:hover {
  background-color: #0c7cd6;
}

@media screen and (min-width: 530px) {
  .btn {
    font-size: 1rem;
  }

  .btn--wide {
    padding-left: 1.8rem;
    padding-right: 1.8rem;
  }

}
