.btn {
  background-color: transparent;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: 0;
  padding: .4rem .8rem;
  transition: all .25s;
  display: inline-block;
}

.btn--wide {
  padding-left: 1.8rem;
  padding-right: 1.8rem;
}

.btn--margin-right {
  margin-right: .6rem;
}

.btn:hover {
  background-color: #e6e6e6;
}

.btn--blue {
  border: 0;
  color: #fff;
  background-color: #2196f3;
}

.btn--blue:hover {
  background-color: #0c7cd6;
}
