.content-container {
  width: 600px;
}

.content-container--large {
  width: 1000px;
}

.content-container--full { 
  width: 100%;
}

.content-container__tile {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: .6rem 1rem;
}

.content-container--center {
  margin-left: auto;
  margin-right: auto;
}

.content-container--margin-top {
  margin-top: 3rem;
}

.content-container--margin-bottom {
  margin-bottom: 3rem;
}

.content-container__profile-image {
  width: 65px;
  display: inline-block;
  border-radius: 50%;
  margin-right: .8rem;
}

.content-container__profile-image--small {
  width: 35px;
}

.content-container__profile-image--large {
  width: 130px;
  margin: 0 6rem 0 4rem;
}

.content-container__bold-text {
  font-weight: 700;
}

.content-container__gray-text {
  color: #C4C4C4;
}

@media screen and (max-width: 600px) {
  .content-container {
    width: 100%;
  }

}
