.content-container {
  width: 600px;
}

.content-container--center {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 600px) {
  .content-container { 
    width: 100%;
  }

}
