.flex-container {
  display: flex;
}

.flex-container--wrap{ 
  flex-wrap: wrap;
}

.flex-container--full {
  width: 100%;
}

.flex-container--space-between {
  justify-content: space-between;
}

.flex-container--center-items {
  align-items: center;
}

.flex-container--margin-top {
  margin-top: 2rem;
}

.flex-container--margin-bottom {
  margin-bottom: 2rem;
}

.flex-container--justify-center { 
  justify-content: center;
}
