.txt {
  border: 1px solid #efefef;
}

.txt.txt--no-borders {
  border: none;
}

.txt.txt--top-border {
  border-top: 1px solid #efefef;
}

.txt.txt--large-padding {
  padding: 15px;
}

.txt--margin-top {
  margin-top: .8rem;
}

.txt--margin-bottom {
  margin-bottom: .8rem;
}

.txt--margin-right {
  margin-right: 1rem;
}

.txt--margin-right-large {
  margin-right: 2rem;
}

.txt--large {
  font-size: 1.8rem;
}

.txt--medium {
  font-size: 1.4rem;
}

.txt--normal {
  font-weight: 400;
}

.txt--link {
  color: #085795;
  font-weight: 400;
  border-bottom: 1px solid transparent;
}

.txt--link:hover {
  color: #0c7cd6;
  border-bottom: 1px solid #0c7cd6;
}

.txt.txt--full {
  width: 100%;
}

.txt:focus  {
  outline: none;
  animation: wave .25s;
}

.txt::-webkit-input-placeholder {
  color: #C4C4C4;
}
.txt::-moz-placeholder {
  color: #C4C4C4;
}
.txt::-ms-input-placeholder {
  color: #C4C4C4;
}
.txt::-moz-placeholder {
  color: #C4C4C4;
}
.txt::placeholder {
  color: #C4C4C4
}

@keyframes wave  {
  0% {
    width: 0;
    background-color: #C4C4C4;
  }

  100% {
    width: 100%;
    background-color: white;
  }
}
