.wrapper {
  overflow: hidden;
  max-width: 900px;
  margin: 0;
  padding: 0 1rem;
}

@media screen and (min-width: 900px) {
  .wrapper {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 960px) {
  .wrapper {
    padding: 0;
  }
}
