<profile-detail-tile></profile-detail-tile>

<div class="content-container content-container--large content-container--center flex-container flex-container--wrap">
  <profile-view-grid-item></profile-view-grid-item>
  <profile-view-grid-item></profile-view-grid-item>
  <profile-view-grid-item></profile-view-grid-item>
  <profile-view-grid-item></profile-view-grid-item>
  <profile-view-grid-item></profile-view-grid-item>
  <profile-view-grid-item></profile-view-grid-item>
  <profile-view-grid-item></profile-view-grid-item>
  <profile-view-grid-item></profile-view-grid-item>
  <profile-view-grid-item></profile-view-grid-item>
</div> 