<profile-detail-tile></profile-detail-tile>

<div class="content-container content-container--large content-container--center flex-container flex-container--wrap flex-container--center-items">
  <profile-view-grid-item></profile-view-grid-item>
  <profile-view-grid-item></profile-view-grid-item>
  <profile-view-grid-item></profile-view-grid-item>
  <profile-view-grid-item></profile-view-grid-item>
  <profile-view-grid-item></profile-view-grid-item>
  <profile-view-grid-item></profile-view-grid-item>
  <profile-view-grid-item></profile-view-grid-item>
  <profile-view-grid-item></profile-view-grid-item>
  <profile-view-grid-item></profile-view-grid-item>
</div> 

    <button class="btn btn--blue load-more-button" >Load More</button> 
