.grid-cell {
  height: 300px;
  position: relative;
}

.grid-cell--three-col {
  width: 29%;
}

.grid-cell--gutters {
  margin: 20px;
}

.load-more-button { 
  display: block; 
  margin: 0 auto;
  width: 175px;
}