<nav class="content-container content-container--main-nav">
  <ul class="wrapper">
    <div class="content-container--main-nav--large">
      <li><i class="fa fa-camera" aria-hidden="true"></i></li>
      <li class="logo-font content-container--main-nav--left-border">Social Media</li>
    </div>
    <li><input class="content-container--main-nav__vertical-centered" type="" name="" value=""></li>
    <div>
      <li><i class="fa fa-compass content-container--main-nav__vertical-centered" aria-hidden="true"></i></li>
      <li><i class="fa fa-heart-o content-container--main-nav__vertical-centered" aria-hidden="true"></i></li>
      <li><i class="fa fa-user-o content-container--main-nav__vertical-centered" aria-hidden="true"></i></li>
    </div>
  </ul>
</nav>
