<section class="
  wrapper
  flex-container
  flex-container--wrap
  flex-container--center-items
  flex-container--margin-top
  flex-container--margin-bottom">
    <img
    class="content-container__profile-image content-container__profile-image--large"
    src="../assets/images/sample-profile-image.jpg">
    <div>
      <div class="flex-container txt--margin-bottom txt--margin-top">
        <h2 class="txt--large txt--margin-right">developer.io</h2>
        <button type="" class="btn btn--wide btn--margin-right">Edit Profile</button>
        <i class="fa fa-gear flex-container flex-container--center-items txt--medium" aria-hidden="true"></i>
        <button type="" class="btn btn--wide btn--blue btn--margin-right">Follow</button>
        <button type="" class="btn btn--blue btn--margin-right"><i class="fa fa-caret-down" aria-hidden="true"></i></button>
        <i class="fa fa-ellipsis-h flex-container flex-container--center-items txt--medium" aria-hidden="true"></i>
      </div>
      <div class="flex-container txt--margin-bottom txt--margin-top">
        <p class="txt--margin-right-large"><span class="txt--normal">106</span> posts</p>
        <p class="txt--margin-right-large"><span class="txt--normal">210</span> followers</p>
        <p><span class="txt--normal">195</span> following</p>
      </div>
      <div class="txt--margin-bottom txt--margin-top">
        <p><span class="txt--normal">developer.io</span> UK web app developer <a href="#" class="txt--link">developer-io.com</a></p>
      </div>
    </div>
</section>
