.sign-up {
  text-align: center;
}

.sign-up .txt { 
  margin-bottom: 10px;
  border-radius: 2px;
}

.sign-up p { 
  width: 200px;
}

.logo--full {
  width: 100%;
}


.tile.tile--padding {
  padding: 1.2rem;
}