<div class="content-container content-container--small content-container--center">
  <div class="tile tile--padding tile--gutters flex-container flex-container--center-items flex-container--wrap flex-container--justify-center glow">
    <div class="sign-up"> 
      <h1 class="logo--full logo-font">Social Media</h1>
      <input type="text" placeholder="Email" class="txt txt--small-padding txt--block">
      <input type="text" placeholder="Full Name" class="txt txt--small-padding txt--block">
      <input type="text" placeholder="Username" class="txt txt--small-padding txt--block">
      <input type="text" placeholder="Password" class="txt txt--small-padding txt--block">
      <button class="btn btn--blue btn--full">Sign up</button>
      <p>By signing up, you agree to our Terms & Privacy Policy.</p>
    </div>
  </div>
</div>