<div class="tile tile--large tile--gutters">
  <div class="image-detail">
    <div class="image-detail__header">
      <img class="profile-image profile-image--small" src="../assets/images/sample-profile-image.jpg" />
      <div class="image-detail__header__user-info">
        <p>Username
          <p>
            <p>Location</p>
      </div>
    </div>
    <div class="image-detail__body">
      <img class="image-detail__body__image" src="../../../assets/images/sample-image.jpg" />
      <div class="image-detail__body__comments">
        <i class="fa fa-heart-o image-detail__icons" aria-hidden="true"></i>
        <i class="fa fa-comment-o image-detail__icons" aria-hidden="true"></i>
        <p>5,000,000 Likes</p>
        <comment></comment>
        <comment></comment>
        <comment></comment>
        <comment></comment>
        <p class="date">July, 15 2017</p>
      </div>
    </div>
    <div class="image-detail__footer">
      <input class="txt txt--no-borders txt--top-border txt--large-padding txt--full" type="text" placeholder="Add a comment">
    </div>
  </div>
</div>