<div class="tile tile--large tile--gutters">
  <div class="tile__image-detail-header">
    <img class="profile-image profile-image--small" src="../assets/images/sample-profile-image.jpg" />
    <div class="tile__image-detail-header__user-info">
      <p>Username<p>
      <p>Location</p>
    </div>
  </div>
  <div class="tile__image-detail-body">
      <img class="tile__image-detail-body__image" src="../../../assets/images/sample-image.jpg" />
      <div class="tile__image-detail-body__comments">

        </div>
       
  </div>
</div>